html
    head
    body
        form(action='/processNewProgram',method='post')
            input(type='text',name='programName')
            input(type='text',name='programID')
            input(type='submit')
            