html
    head
        meta(charset='utf-8')
        meta(name="viewport",content="width=device-width, initial-scale=1")
        link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css')
        link(rel='stylesheet',href='#')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js')
    body
        .jumbotron
            .container
                .row
                    .col-md-6.col-md-offset-3
                        center
                            h1 Remove Program
                            h4 Program: 
                                i #{name}
                            h4 ID: 
                                i #{id}
        form.container(action='/deleteProgram/#{id}',method='post')
            .row.col-xs-8.col-xs-offset-2
                h3 Remove #{name} from database
                .form-group
                    input.form-control.btn.btn-lg.btn-danger(type='submit',value='Delete Program!')
            